<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="https://via.placeholder.com/70x70">
    <link rel="stylesheet" href="https://andybrewer.github.io/mvp/mvp.css">

    <meta charset="utf-8">
    <meta name="description" content="My description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My title</title>
</head>

<body>
    <header>
        <nav>
            <a href="/"><img alt="Logo" src="wtfNews200x200.png" height="200"></a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/admin">Admin Dashboard</a></li>
            </ul>
        </nav>
        <h1>Admin Dashboard</h1>
        <br>
        <p><a href="https://twitter.com/_wtf_News_"><b>Go To Twitter Account</b></a></p>
    </header>
    <main>
        <hr>
        <section>
            <aside>
                <h3>P = 0.1019861102104187</h3>
                <p>URL: https://www.npr.org/sections/coronavirus-live-updates/2020/04/25/844939777/no-evidence-that-recovered-covid-19-patients-are-immune-who-says</p>
                <p><a href="#"><i>Real</i></a></p>
                <p><a href="#"><b>Fake af &rarr;</b></a></p>
            </aside>
            <aside>
                <h3>P = 0.5217986404895782</h3>
                <p>URL: https://worldnewsdailyreport.com/morgue-employee-cremated-by-mistake-while-taking-a-nap/</p>
                <p><a href="#"><i>Real</i></a></p>
                <p><a href="#"><b>Fake af &rarr;</b></a></p>
            </aside>
            <aside>
                <h3>P = 0.0652308464050293</h3>
                <p>URL: https://www.reuters.com/article/us-health-coronavirus-usa-airlines/u-s-airlines-receive-extra-9-5-billion-in-payroll-support-u-s-treasury-idUSKCN2270OG</p>
                <p><a href="#"><i>Real</i></a></p>
                <p><a href="#"><b>Fake af &rarr;</b></a></p>
            </aside>
        </section>
    </main>
    <footer>
        <hr>
        <p>
            Contact info
        </p>
    </footer>
</body>

</html>