<!DOCTYPE html>
html(lang="en")
head 
    meta(charset="UTF-8")
    title Document
body
    form(action="/submit", method ="post")
        input(type="text", name="url")
        input(type="submit", name="Done")
