<!-- MVP.css quickstart template: https://github.com/andybrewer/mvp/ -->

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="https://via.placeholder.com/70x70">
    <link rel="stylesheet" href="lbd.css">
    <link rel="stylesheet" href="lbd2.css">


    <meta charset="utf-8">
    <meta name="description" content="My description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>wtfNews</title>
</head>

<body>
    <header>
        <nav>
            <a href="/"><img alt="Logo" src="wtfNews200x200.png" height="200"></a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/admin">Admin Dashboard</a></li>
            </ul>
        </nav>
        <h1>Leaderboard</h1>
        <p>Top 5 Reporters in the Past Week</p>
    </header>
    <main>
        <div class="wrapper">
            <div class="lboard_section">
                <div class="lboard_wrap"
                    <div class="lboard_item month" style="display: block;">
                        <div class="lboard_mem">
                            
                            <div class="name_bar">
                                <p><span>1.</span> @michaelbzhu</p>
                                
                            </div>
                            <div class="points">
                                12 reports
                            </div>
                        </div>
                        <div class="lboard_mem">
                            
                            <div class="name_bar">
                                <p><span>2.</span>@jason</p>
                                
                            </div>
                            <div class="points">
                                11 reports
                            </div>
                        </div>
                        <div class="lboard_mem">
                            
                            <div class="name_bar">
                                <p><span>3.</span>@BillGates</p>
                                
                            </div>
                            <div class="points">
                                8 reports
                            </div>
                        </div>
                        <div class="lboard_mem">
                            
                            <div class="name_bar">
                                <p><span>4.</span>@realDonaldTrump</p>
                                
                            </div>
                            <div class="points">
                                5 reports
                            </div>
                        </div>
                        <div class="lboard_mem">
                            
                            <div class="name_bar">
                                <p><span>5.</span>@pmarca</p>
                                
                            </div>
                            <div class="points">
                                3 reports
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <hr>
        <p>
            Contact info
        </p>
    </footer>
</body>

</html>